@model IEnumerable<javora.Models.View.DocumentModel>

@{
    ViewData["Title"] = "DocumentAdminList";
}

<div class="as-tape-900">
    <a href="@Url.Action("AddDocument")" class="btn btn-success" style="margin-bottom:10px">Додати документ</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Назва Файлу
                </th>
                <th>
                    Формат
                </th>
                <th>
                    URL ID
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Extension
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @*<a href="@Url.Action("EditNews",new { guid = item.Guid})" class="btn btn-primary">Відкрити
                        <a href="@Url.Action("EditNews",new { guid = item.Guid})" class="btn btn-primary">Редагувати
                        <a href="@Url.Action("DeleteNews",new { guid = item.Guid}))" class="btn btn-danger">Видалити*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
